[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Icons - Material Design
Type=Link
URL=https://material.io/resources/icons/?icon=how_to_reg&style=baseline
Icon=text-html
