[Desktop Entry]
Encoding=UTF-8
Name=Enlace a Download 100 Free Line-Style Icons | Elegant Themes Blog
Type=Link
URL=https://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons
Icon=text-html
Name[es_CO]=Download 100 Free Line-Style Icons | Elegant Themes Blog
